[submodule "3DCV"]
	path = 3DCV
	url = https://github.com/smkim7-kr/3DCV.git
[submodule "Cpp"]
	path = Cpp
	url = https://github.com/smkim7-kr/Cpp.git
[submodule "Docker"]
	path = Docker
	url = https://github.com/smkim7-kr/Docker.git
[submodule "Maths"]
	path = Maths
	url = https://github.com/smkim7-kr/Maths.git
[submodule "OpenMP"]
	path = OpenMP
	url = https://github.com/smkim7-kr/OpenMP.git
[submodule "ROS2"]
	path = ROS2
	url = https://github.com/smkim7-kr/ROS2.git
[submodule "SLAM"]
	path = SLAM
	url = https://github.com/smkim7-kr/SLAM.git
[submodule "CUDA"]
	path = CUDA
	url = https://github.com/smkim7-kr/cuda_tutorial.git
[submodule "VLM101"]
	path = VLM101
	url = https://github.com/smkim7-kr/VLM101.git
[submodule "RL"]
	path = RL
	url = https://github.com/smkim7-kr/RL
[submodule "JAX"]
	path = JAX
	url = https://github.com/smkim7-kr/JAX
[submodule "EfficientAI"]
	path = EfficientAI
	url = https://github.com/smkim7-kr/EfficientAI
[submodule "ModernCpp"]
	path = ModernCpp
	url = https://github.com/smkim7-kr/ModernCpp.git


[submodule "Diffusion"]
	path = Diffusion
	url = https://github.com/smkim7-kr/Diffusion.git
